@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download Your Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h5 class="p-3 bg-secondary text-light fw-bold">@ViewData["Title"]</h5>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
