@page
@model EmailModel
@{
    ViewData["Title"] = "Email cím módosítása";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<partial name="_StatusMessage" for="StatusMessage" />

<h5 class="p-3 bg-secondary text-light fw-bold">@ViewData["Title"]</h5>
<div class="row">
    <div class="col-md-12">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            <div class="row">
                <div class="col-6">
                    @if (Model.IsEmailConfirmed)
                    {
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" placeholder="Please enter your email." disabled />                            
                        </div>
                    }
                    else
                    {
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" placeholder="Please enter your email." disabled />
                            <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                        </div>
                    }
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label asp-for="Input.NewEmail" class="form-label"></label>
                        <input asp-for="Input.NewEmail" class="form-control" aria-required="true" autocomplete="email" placeholder="Please enter new email." />
                        <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="float-end w-25 btn btn btn-success">Módosítás</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
