@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<h5 class="p-3 bg-secondary text-light fw-bold">@ViewData["Title"]</h5>
<partial name="_StatusMessage" model="Model.StatusMessage" />
