@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h5 class="p-3 bg-secondary text-light fw-bold">@ViewData["Title"]</h5>
<p>
    Please check your email to reset your password.
</p>
