html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.bd-placeholder-img {
    width: 100%;
    height: 10.5rem;
    object-fit: cover;
}

.card-img-top, .expandedImg, .img-thumbnail-md {
    object-fit: cover;
}

.details-img {
    height: auto;
    max-height: 550px
}

#promo-img {
    background-image: url(../img/background.jpg);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
}

#chat-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
}

.message {
    margin: 5px 0;
    display: flex;
    flex-direction: column;
}

.sent {
    align-items: flex-end;
}

.received {
    align-items: flex-start;
}

.sender {
    font-size: 0.8em;
    color: #555;
    margin-bottom: 2px;
}

.bubble {
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 60%;
    word-wrap: break-word;
}

.sent .bubble {
    background-color: #0078D7;
    color: white;
}

.received .bubble {
    background-color: #e5e5ea;
    color: black;
}

.center-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}